.room {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: 1fr 3fr 3fr 1fr;

  .card {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 10px;

    .cardTitle {
      height: 40px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .cardCol {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
  }

  .tabs {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    margin: 10px;

    .tabHeader {
      border-bottom: 1px solid lightgray;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 20px;
      font-weight: bold;

      .tab {
        cursor: pointer;
        border-right: 1px solid lightgray;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;

        &:hover {
          background-color: lightgray;
        }
      }

      .active {
        background-color: lightgray;
      }
    }

    .tabBody {
      padding: 20px;

      .showTabContent {
        display: block;
      }

      .hideTabContent {
        display: none;
      }

      .facilities,
      .beds {
        display: grid;
        grid-template-columns: auto auto;
        // justify-content: space-evenly;
        font-size: 20px;
        gap: 10px;

        input[type="checkbox"] {
          transform: scale(1.5);
          cursor: pointer;
        }

        .col {
          display: grid;
          gap: 5px;

          .optionTitle {
            font-weight: bold;
            margin-bottom: 10px;
          }

          label {
            display: flex;
            gap: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .form {
    display: grid;
    gap: 10px;

    .formRow {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      font-size: 20px;

      .error {
        color: red;
        width: 80.5%;
      }

      input[type="text"],
      input[type="number"],
      select,
      textarea {
        padding: 5px;
        width: 80%;
        font-size: 20px;
        border-radius: 5px;
        border: 1px solid gray;
      }

      .imageContainer {
        display: flex;
        gap: 10px;

        .imageWrapper {
          height: 200px;
          width: 200px;
          position: relative;

          .image {
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }

          .btnDelete {
            position: absolute;
            bottom: 10px;
            left: 16%;
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            background-color: lightgray;
          }
        }
      }
    }
  }

  .formButton {
    display: flex;
    justify-content: right;
    margin: 15px 10px 0 0;

    .buttonSave {
      cursor: pointer;
      padding: 5px 20px;
      color: white;
      background-color: blue;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
