.mapContainer {
  // overflow: visible;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

.mapSearch {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1.5fr 2fr;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    // width: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    height: 350px;
    max-height: 50%;
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  li:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }

  .formRow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    align-items: center;

    .error {
      color: red;
      width: 81%;
    }

    input[type="text"] {
      font-size: 20px;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 5px;
    }

    input[type="text"] {
      width: 100%;
    }
  }
}
